RewriteEngine On # Turn on the rewriting engine
RewriteRule ^register/?$ register.php [NC,L]
RewriteRule ^login/?$ login.php [NC,L]
RewriteRule .* - [e=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteRule ^kota/all?$ kota/read.php [NC,L]
RewriteRule ^komoditas/all?$ komoditas/all.php [NC,L]
#RewriteRule ^products/([0-9]+)/?$ products.php?product_id=$1 [NC,L]